Chore list
- Family
	- Parent
		- Can create account
		- Can add children
		- Can add chores
		- Can assign chores to parent or children
		- Can remove children
		- Can remove chores
		- Can mark chore verified completed (closes chore as complete)
		- Can view all chores for the entire family
	- Child
		- Can view their chores
		- Can submit a chore for review
	

- Famiy setup flow
	- Parent creates account
	- Parent adds family members (parent or children)
		- Sets password here.  How to do qr code style sign in or something simple like that?  Maybe device level?

- Chore flow
	- Parent creates chore
	- Parent assigns chore to child or other parent
	- Assignee completes chore
		- Add note if wanted
	- Parent verifies
		- Good closes
		- Bad sends back to asignee

- JWT Claims
	- UserID
	- FamilyID
	- Expiration

- Services
	- User
		- All user management
	- Chore
		- All Chore management
	- Web
		- Web server to host vue.js site
	- Email
		- Email service for sending emails