@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.fix-navbar-whitespace {
  margin-top: 65px;
}

.footer {
  position:fixed;
  left:0px;
  bottom:5px;
  width:100%;
}
/* 
 * Branding
 */

$primary-color: #41b783;

.bg-primary {
  background-color: $primary-color !important;
  border-color: #333;
}
.bg-inverse {
  background-color: #fff;
}

.btn-primary {
  background-color: $primary-color !important;
  border-color: #333;
}

.text-primary {
  color: $primary-color !important;
}

/* text-primary-busy is used to simulate the table busy text */
.text-primary-busy {
  color: rgba($color: $primary-color, $alpha: 0.5);
}
